.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000a12;
}

.signup-box {
  background: #0d1721;
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 255, 100, 0.08);
  text-align: center;
}

.signup-title {
  color: #6ea8ff;
  font-size: 26px;
  margin-bottom: 25px;
}

.signup-input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #1a2836;
  color: white;
  font-size: 15px;
}

.signup-btn {
  width: 100%;
  padding: 14px;
  background: #21d07a;
  color: #000;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background: #1bb56a;
}

.signup-msg {
  color: #7effb3;
  margin-top: 10px;
}

.signup-switch {
  margin-top: 15px;
  color: #ccc;
}

.signup-switch a {
  color: #6ea8ff;
  text-decoration: none;
}
